[Unit]
Description=Update user configuration from dotfiles
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until ping -c1 1.1.1.1; do sleep 1; done'
ExecStart="%h/.config/dotfiles/update.sh"
ExecStartPost=/bin/sh -c 'touch /tmp/dotfiles-updated'

[Install]
WantedBy=default.target
