[Unit]
Description=Update system configuration from dotfiles
After=network-online.target

[Service]
Type=oneshot
ExecStart=true

[Install]
WantedBy=default.target
